<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADMIN</title>
    <link th:replace="fragments/dependency :: style1">
    <link th:replace="fragments/dependency :: style2">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <tr>
                        <th scope="col">Имя</th>
                        <th scope="col">Роль</th>
                        <th scope="col"></th>
                    </tr>
                    <tr th:each="client : ${clients}">
                        <td th:text="${client}"></td>
                        <td th:text="${client.getRoles()}"></td>
                        <td><a th:href="@{/admin/{id}(id=${client.getId()})}">Edit</a></td>
                    </tr>
                </table>
            </div>
            <form method="GET" action="/profile" style="margin-top: 10px">
                <button type="submit" class="btn btn-primary" style="width: 250px;">Назад</button>
            </form>
        </div>
    </div>

    <script th:replace="fragments/dependency :: script1"></script>
    <script th:replace="fragments/dependency :: script2"></script>
    <script th:replace="fragments/dependency :: script3"></script>
</body>
</html>