<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Auth</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row align-items-center justify-content-center" style="margin-top: 50px">
        <div class="col-3 align-self-center">
            <form method="POST" th:action="@{/log}" th:object="${client}">
                <h2>Please sign in</h2>
                <div class="mb-3">
                    <label for="login" style="color: red;" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></label>
                    <input type="text" class="form-control" th:field="*{login}" id="login" aria-describedby="emailHelp" placeholder="Username">
                </div>
                <div class="mb-3">
                    <label for="password" style="color: red;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
                    <input type="password" class="form-control" th:field="*{password}" id="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>