<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Client edit</title>
    <link th:replace="fragments/dependency :: style1">
    <link th:replace="fragments/dependency :: style2">
</head>
<body>

<div class="container">
    <nav th:replace="fragments/nav_bar :: navbar"></nav>
    <div class="head">
        <hr>
        <h4>Выберете роли</h4>
        <hr>
    </div>
    <div class="row">
        <div class="col-6">
            <form action="/admin/edit" method="POST" class="form-floating" style="text-align: left">
                <h5 th:text="${client}"></h5>
                <h6>Выберете роли:</h6>
                <div th:each="role, iter : ${roles}">
                    <label th:for="${iter}" th:text="${role}"></label>
                    <input type="checkbox" name="roles" th:id="${iter}" th:value="${role}">
                </div>
                <input type="hidden" name="clientId" th:value="${client.getId()}">
                <button type="submit" class="btn btn-sm btn-outline-success">Сохранить</button>
            </form>
        </div>
    </div>
</div>

<script th:replace="fragments/dependency :: script1"></script>
<script th:replace="fragments/dependency :: script2"></script>
<script th:replace="fragments/dependency :: script3"></script>
</body>
</html>