<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client edit</title>
    <link th:replace="fragments/dependency :: style1">
    <link th:replace="fragments/dependency :: style2">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col">
            <form action="/admin/client" method="POST">
                <input type="text" th:value="${client}">
                <div th:each="role, iter : ${roles}">
                    <label th:for="${iter}" th:text="${role}"></label>
                    <input type="checkbox" name="roles" th:id="${iter}" th:value="${role}">
                </div>
                <input type="hidden" name="clientId" th:value="${client.getId()}">
                <input type="hidden" th:value="${_csrf}">
                <button type="submit">Сохранить</button>
            </form>
            <form method="GET" action="/admin" style="margin-top: 10px">
                <button type="submit" class="btn btn-primary" style="width: 250px;">Назад</button>
            </form>
        </div>
    </div>
</div>

<script th:replace="fragments/dependency :: script1"></script>
<script th:replace="fragments/dependency :: script2"></script>
<script th:replace="fragments/dependency :: script3"></script>
</body>
</html>