<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Вклады</title>
    <link th:replace="fragments/dependency :: style1">
    <link th:replace="fragments/dependency :: style2">
</head>
<body>

    <div class="container">
        <nav th:replace="fragments/nav_bar :: navbar"></nav>
        <hr>
        <h4>Вклады</h4>
        <form method="GET" action="/profile" style="margin-top: 5px; margin-bottom: 5px">
            <button type="submit" class="btn btn-sm btn-outline-primary">Назад</button>
        </form>
        <hr>
        <div class="row" style="text-align: center;">
            <div class="col">
                <h5 style="margin-bottom: 30px">Предложения по владам</h5>
                <table class="table" style="">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Ставка</th>
                        <th scope="col">Возможность снятия</th>
                        <th scope="col">Возможность пополнения</th>
                        <th scope="col">Срок</th>
                        <th scope="col">Валюта</th>
                        <th scope="col">Сумма</th>
                        <th scope="col">Счет</th>
                        <th scope="col"></th>
                    </tr>
                    <tr th:each="a : ${all}">
                        <form method="POST" action="/contribution/accept">
                            <td th:text="${a.getName()}"></td>
                            <td>
                                <label for="stake" th:text="${a.getStake()}"></label>
                                <input type="hidden" id="stake" name="stake" th:value="${a.getStake()}">
                            </td>
                            <td>
                                <label for="takeOff" th:text="${a.getTakeOff()}"></label>
                                <input type="hidden" id="takeOff" name="takeOff" th:value="${a.getTakeOff()}">
                            </td>
                            <td>
                                <label for="getUp" th:text="${a.getTopUp()}"></label>
                                <input type="hidden" id="getUp" name="getUp" th:value="${a.getTopUp()}">
                            </td>
                            <td>
                                <input type="date" id="start" name="term" th:min="${a.getTerm()}">
                            </td>
                            <td>
                                <div th:if="${a.getCurrency()}">
                                    <input list="currency" name="currency" placeholder="Выберете валюту"/>
                                    <datalist id="currency">
                                        <div th:each="curr : ${currency}">
                                            <option th:value="${curr}">
                                        </div>
                                    </datalist>
                                </div>
                                <div th:if="${not a.getCurrency()}">
                                    <input type="hidden" id="rub" name="currency" th:value="'RUB'">
                                    <label for="rub">RUB</label>
                                </div>
                            </td>
                            <td><input type="text" name="sum">Сумма</td>
                            <td>
                                <input list="account" name="accountNum" placeholder="Выберете счет"/>
                                <datalist id="account">
                                    <div th:each="account : ${client.getAccounts()}">
                                        <option th:value="${account.getNumber()}">
                                    </div>
                                </datalist>
                            </td>
                            <td>
                                <input type="hidden" name="client" th:value="${client.getId()}">
                                <button type="submit" class="btn btn-sm btn-outline-success">Оформить</button>
                            </td>
                        </form>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="row" style="text-align: center;">
            <div class="col">
                <h5 style="margin-bottom: 30px">Ваши вклады</h5>
                <table>
                    <tr>
                        <th scope="col">Сберегательный счет №</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Дата окончания</th>
                        <th scope="col">Сумма вклада</th>
                        <th scope="col">Можно пополнить</th>
                        <th scope="col">Можно снять</th>
                    </tr>
                    <tr th:each="con : ${contributions}">
                        <td th:text="${con.getAccount().getNumber()}"></td>
                        <td th:text="${con.getStartDate()}"></td>
                        <td th:text="${con.getExpirationDate()}"></td>
                        <td th:text="${con.getSum()}"></td>
                        <td th:if="${con.getTakeUp() == true}">
                            <form method="GET" action="/profile" style="margin-top: 5px; margin-bottom: 5px">
                                <button type="submit" class="btn btn-sm btn-outline-success">Поплнить</button>
                            </form>
                        </td>
                        <td th:if="not ${con.getTakeUp() == true}" th:text="${con.getTakeUp()}"></td>
                        <td th:if="${con.getTakeOf() == true}">
                            <form method="GET" action="/profile" style="margin-top: 5px; margin-bottom: 5px">
                                <button type="submit" class="btn btn-sm btn-outline-success">Снять</button>
                            </form>
                        </td>
                        <td th:if="not ${con.getTakeOf() == true}" th:text="${con.getTakeOf()}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script th:replace="fragments/dependency :: script1"></script>
    <script th:replace="fragments/dependency :: script2"></script>
    <script th:replace="fragments/dependency :: script3"></script>
</body>
</html>