<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Кредиты</title>
    <link th:replace="fragments/dependency :: style1">
    <link th:replace="fragments/dependency :: style2">
</head>
<body>
<div class="container">
    <nav th:replace="fragments/nav_bar :: navbar"></nav>
    <hr>
    <h4>Заявки на кредит</h4>
    <form method="GET" action="/profile" style="margin-top: 5px; margin-bottom: 5px">
        <button type="submit" class="btn btn-sm btn-outline-primary">Назад</button>
    </form>
    <hr>
    <div class="row" style="margin-top: 30px; text-align: center">
        <div class="col-4">
            <h5>Подать заявку на кредитную карту</h5>
            <form method="POST" class="form-floating mb-2" style="margin-top: 10px" action="/credit">
                <p>Срок, лимит и процент карты определяет оператор</p>
                <p>Выберете валюту</p>
                <div class="btn-group" style="width: 250px;">
                    <input type="radio" class="btn-check" name="currency" id="option1" autocomplete="off" value="RUB"/>
                    <label class="btn btn-outline-success" for="option1">RUB</label>

                    <input type="radio" class="btn-check" name="currency" id="option2" autocomplete="off" value="USD"/>
                    <label class="btn btn-outline-success" for="option2">USD</label>

                    <input type="radio" class="btn-check" name="currency" id="option3" autocomplete="off" value="EUR"/>
                    <label class="btn btn-outline-success" for="option3">EUR</label>
                </div>
                <button type="submit" class="btn btn-outline-primary" style="width: 250px; margin-top: 10px">Оформить
                    заявку
                </button>
            </form>
        </div>
        <div class="col">

            <h5>Активные кредиты по картам</h5>
            <table class="table" style="margin-top: 40px">
                <tr>
                    <th scope="col">Карта</th>
                    <th scope="col">Сумма</th>
                    <th scope="col">Процент</th>
                    <th scope="col">Дата окончания</th>
                    <th scope="col">Статус</th>
                </tr>
                <tr th:each="credit : ${credits}">
                    <td th:text="${credit.getCard().getAccount().getNumber()}"></td>
                    <td th:text="${credit.getSum()}"></td>
                    <td th:text="${credit.getCard().getCreditOffer().getPercent()}"></td>
                    <td th:text="${credit.getExpirationDate()}"></td>
                    <td th:text="${credit.getCreditStatus()}"></td>
                </tr>
            </table>

        </div>
    </div>
    <div class="row" style="margin-top: 50px">
        <div class="col">
            <div th:if="${not #lists.isEmpty(client.getCredits())}">
                <h5>Предложения по кредитам</h5>
                <table class="table" style="margin-top: 40px">
                    <tr>
                        <th scope="col">Дата оформления</th>
                        <th scope="col">Дата окончания</th>
                        <th scope="col">Лимит</th>
                        <th scope="col">Процент</th>
                        <th scope="col">Валюта</th>
                        <th scope="col">Статус</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    <tr th:each="creditOfferEntity : ${client.getCredits()}">
                        <td th:text="${creditOfferEntity.getStartDate()}"></td>
                        <td th:text="${creditOfferEntity.getExpirationDate()}"></td>
                        <td th:text="${creditOfferEntity.getLimitCard()}"></td>
                        <td th:text="${creditOfferEntity.getPercent()}"></td>
                        <td th:text="${creditOfferEntity.getCurrency()}"></td>
                        <td th:text="${creditOfferEntity.getStatus()}"></td>
                        <td th:if="${status.equals(creditOfferEntity.getStatus())}">
                            <form method="POST" action="/credit/accept">
                                <input type="hidden" name="creditOfferEntity" th:value="${creditOfferEntity.getId()}">
                                <input type="submit" value="Принять" id="accept" class="btn btn-sm btn-outline-success">
                            </form>
                        </td>
                        <td th:if="${status.equals(creditOfferEntity.getStatus())}">
                            <form method="POST" action="/credit/decline">
                                <input type="hidden" name="creditOfferEntity" th:value="${creditOfferEntity.getId()}">
                                <input type="submit" value="Отклонить" id="decline"
                                       class="btn btn-sm btn-outline-danger">
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
            <div th:if="${#lists.isEmpty(client.getCredits())}">
                <h5>Активных заявок нет</h5>
            </div>
        </div>
    </div>
</div>


<script th:replace="fragments/dependency :: script1"></script>
<script th:replace="fragments/dependency :: script2"></script>
<script th:replace="fragments/dependency :: script3"></script>
</body>
</html>