<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Вход </title>
    <link th:replace="fragments/dependency :: style1">
</head>
<body>
    <div class="container">
        <div class="row align-items-center justify-content-center" style="margin-top: 50px">
            <div class="col-3 align-self-center">
                <h2>Авторизация</h2>
                <form method="POST" th:action="@{/login}">
                    <div class="mb-3"><label> Логин : <input type="text" name="username" class="form-control"/> </label></div>
                    <div class="mb-3"><label> Пароль : <input type="password" name="password" class="form-control"/> </label></div>
                    <div class="mb-3" style="color: red;" th:if="${param.error}">
                        Неверный логин или пароль.
                    </div>
                    <div class="mb-3"><a href="/registration" class="link-primary">Регистрация</a></div>
                    <div class="mb-3"><input type="submit" value="Войти" class="btn btn-primary"/></div>
                </form>
            </div>
        </div>
    </div>

    <script th:replace="fragments/dependency :: script1"></script>
    <script th:replace="fragments/dependency :: script2"></script>
    <script th:replace="fragments/dependency :: script3"></script>
</body>
</html>