<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Расмотрение кредитов</title>
    <link th:replace="fragments/dependency :: style1">
    <link th:replace="fragments/dependency :: style2">
</head>
<body>

<div class="container">
    <nav th:replace="fragments/nav_bar :: navbar"></nav>
    <hr>
    <h4>Кредиты на рассмотрении</h4>
    <form method="GET" action="/profile" style="margin-top: 5px; margin-bottom: 5px">
        <button type="submit" class="btn btn-sm btn-outline-primary">Назад</button>
    </form>
    <hr>
    <div class="row">
        <div class="col">
            <div th:if="${not #lists.isEmpty(credits)}">
                <table class="table">
                    <tr>
                        <th scope="col">Клиент</th>
                        <th scope="col">Лимит карты</th>
                        <th scope="col">Процент</th>
                        <th scope="col">Срок до</th>
                        <th scope="col">Валюта</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    <tr th:each="request : ${credits}">
                        <form method="POST" action="/operator/offer" th:object="${creditOffer}">
                            <td>
                                <a href="#" th:text="${request.getClient()}"></a>
                                <input type="hidden" name="client"  th:value="${request.getClient().getId()}">
                            </td>
                            <td>
                                <input type="text" name="limitCard" id="limit" th:field="*{limitCard}">
                                <label for="limit" style="color: red;" th:if="${#fields.hasErrors('limitCard')}"
                                       th:errors="*{limitCard}"></label>
                            </td>
                            <td>
                                <input type="text" name="percent" id="percent" th:field="*{percent}">
                                <label for="percent" style="color: red;" th:if="${#fields.hasErrors('percent')}"
                                       th:errors="*{percent}"></label>
                            </td>
                            <td>
                                <input type="date" id="start" name="expirationDate" th:field="*{expirationDate}" th:min="${currentDate}">
                                <label for="start" style="color: red;" th:if="${#fields.hasErrors('expirationDate')}"
                                       th:errors="*{expirationDate}"></label>
                            </td>
                            <td>
                                <label th:text="${request.getCurrency()}"></label>
                                <input type="hidden" name="currency" th:value="${request.getCurrency()}">
                            </td>
                            <td>
                                <input type="hidden" name="request" th:value="${request.getId()}">
                                <button type="submit" class="btn btn-sm btn-outline-success">Предложить</button>
                            </td>
                        </form>
                        <td>
                            <form method="POST" action="/operator/offer_decline">
                                <input type="hidden" name="request" th:value="${request.getId()}">
                                <button type="submit" class="btn btn-sm btn-outline-danger">Отклонить</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
            <div th:if="${#lists.isEmpty(credits)}">
                <h5>Заявки на кредит закончились</h5>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/dependency :: script1"></script>
<script th:replace="fragments/dependency :: script2"></script>
<script th:replace="fragments/dependency :: script3"></script>
</body>
</html>