<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Расмотрение кредитов</title>
    <link th:replace="fragments/dependency :: style1">
    <link th:replace="fragments/dependency :: style2">
</head>
<body>

<div class="container">
    <div class="row">
        <h2>Кредиты на рассмотрении</h2>
        <div class="col">
            <div th:if="${not #lists.isEmpty(credits)}">
                <table class="table">
                    <tr>
                        <th scope="col">Клиент</th>
                        <th scope="col">Лимит карты</th>
                        <th scope="col">Процент</th>
                        <th scope="col">Срок до</th>
                        <th scope="col">Валюта</th>
                        <th scope="col"></th>
                    </tr>
                    <tr th:each="creditBid : ${credits}">
                        <form method="POST" action="/operator/offer">
                            <td><a href="#" th:text="${creditBid.getClient()}"></a></td>
                            <td>
                                <input type="text" name="limit">
                            </td>
                            <td>
                                <input type="text" name="percent">
                            </td>
                            <td>
                                <input type="date" id="start" name="date" value="2018-07-22" min="2018-01-01"
                                       max="2018-12-31">
                            </td>
                            <td th:text="${creditBid.getCurrency()}"></td>
                            <td>
                                <input type="hidden" name="creditBid" th:value="${creditBid.getId()}">
                                <button type="submit" class="btn btn-sm btn-outline-success">Предложить</button>
                            </td>
                        </form>
                    </tr>
                </table>
            </div>
            <div th:if="${#lists.isEmpty(credits)}">
                <h5>Заявки на кредит закончились</h5>
            </div>
            <form method="GET" action="/profile" style="margin-top: 10px">
                <button type="submit" class="btn btn-primary" style="width: 250px;">Назад</button>
            </form>
        </div>
    </div>
</div>

<script th:replace="fragments/dependency :: script1"></script>
<script th:replace="fragments/dependency :: script2"></script>
<script th:replace="fragments/dependency :: script3"></script>
</body>
</html>