<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Панель оператора</title>
    <link th:replace="fragments/dependency :: style1">
    <link th:replace="fragments/dependency :: style2">
</head>
<body>

    <div class="container">
        <div class="row">
            <h2>Платежи ожидающие проверки</h2>
            <div class="col">
                <div th:if="${not #lists.isEmpty(transfers)}">
                    <table class="table">
                        <tr>
                            <th scope="col">Дата</th>
                            <th scope="col">Отправитель</th>
                            <th scope="col">Получатель</th>
                            <th scope="col">Сумма</th>
                            <th scope="col">Статус</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        <tr th:each="transfer : ${transfers}">
                            <td th:text="${transfer.getDate()}"></td>
                            <td>
                                <span th:text="${transfer.getSender()}"></span>
                                <br>
                                <span th:text="${transfer.getCardSender().getNumber()}"></span>
                            </td>
                            <td>
                                <span th:text="${transfer.getRecipient()}"></span>
                                <br>
                                <span th:text="${transfer.getCardSender().getNumber()}"></span>
                            </td>
                            <td th:text="${transfer.getTransferSum()}"></td>
                            <td th:text="${transfer.getStatus()}"></td>
                            <td>
                                <form method="POST" action="/operator/payments/accept">
                                    <input type="hidden" name="transfer" th:value="${transfer.getId()}">
                                    <button type="submit" class="btn btn-sm btn-outline-success">Подтвердить</button>
                                </form>
                            </td>
                            <td>
                                <form method="POST" action="/operator/payments/decline">
                                    <input type="hidden" name="transfer" th:value="${transfer.getId()}">
                                    <button type="submit" class="btn btn-sm btn-outline-danger">Отклонить</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
                <div th:if="${#lists.isEmpty(transfers)}">
                    <h5>Переводы не обнаружены</h5>
                </div>
                <form method="GET" action="/profile" style="margin-top: 10px">
                    <button type="submit" class="btn btn-primary" style="width: 250px;">Назад</button>
                </form>
            </div>
        </div>
    </div>

    <script th:replace="fragments/dependency :: script1"></script>
    <script th:replace="fragments/dependency :: script2"></script>
    <script th:replace="fragments/dependency :: script3"></script>
</body>
</html>