<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link th:replace="fragments/dependency :: style1">
    <link th:replace="fragments/dependency :: style2">
</head>
<body>

<div class="container">

    <nav th:replace="fragments/nav_bar :: navbar"></nav>
    <hr>
    <div class="row align-items-center justify-content-center" style="margin-top: 10px">

        <div class="col align-self-center" style="text-align: left">
            <h4 th:text="'Добро пожаловать ' + ${client.toString()}"></h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <form method="GET" action="/add_card" style="margin-top: 5px; margin-bottom: 5px">
                <button type="submit" class="btn btn-sm btn-outline-success">Получить дебетовую карту</button>
            </form>
            <form method="GET" action="/add_account" style="margin-top: 5px; margin-bottom: 5px">
                <button type="submit" class="btn btn-sm btn-outline-success">Получить счет</button>
            </form>
        </div>
    </div>

    <hr>
    <h4>Ваши карты:</h4>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5" style="margin-top: 10px"
         th:if="${not #lists.isEmpty(client.getCards())}">
        <div class="col mb-4" th:each="card : ${client.getCards()}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${card.getAccount().getNumber()}">Number</h5>
                    <h6 class="card-subtitle mb-2 text-muted"
                        th:text="'Баланс: ' + ${card.getAccount().getBalance()} + 'руб.'">Balance</h6>
                    <span class="card-text" th:text="'Тип: ' + ${card.getType()}">Text</span>
                    <span class="card-text" th:text="'До: ' + ${card.getExpirationDate()}"></span>
                    <span class="card-text" th:text="${client}">Text</span>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${#lists.isEmpty(client.getCards())}">
        <h5>Карты не обнаружены</h5>
    </div>

    <hr>
    <h4>Ваши счета:</h4>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5" style="margin-top: 10px"
         th:if="${not #lists.isEmpty(accounts)}">
        <div class="col mb-4" th:each="account : ${accounts}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${account.getNumber()}">Number</h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="'Баланс: ' + ${account.getBalance()} + 'руб.'">
                        Balance</h6>
                    <p class="card-text" th:text="'Валюта: ' + ${account.getCurrency()}"></p>
                    <p class="card-text" th:text="'Тип: ' + ${account.getType()}">Text</p>
                    <p class="card-text" th:text="${client}">Text</p>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${#lists.isEmpty(accounts)}">
        <h5>Счета не обнаружены</h5>
    </div>

    <hr>
    <div class="row align-items-start justify-content-start" style="margin-top: 50px"
         th:if="${not #lists.isEmpty(client.getExpenses()) or not #lists.isEmpty(client.getReceiving())}">
        <h4 style="margin-bottom: 40px">История операций</h4>
        <div class="col-6 align-self-start">
            <h5>Расходы</h5>
            <table class="table">
                <tr>
                    <th scope="col">Дата</th>
                    <th scope="col">Получатель</th>
                    <th scope="col">Сумма</th>
                    <th scope="col">Статус</th>
                </tr>
                <tr th:each="transferEntity : ${client.getExpenses()}">
                    <td th:text="${transferEntity.getDate()}"></td>
                    <td th:text="${transferEntity.getRecipient()}"></td>
                    <td th:text="${transferEntity.getTransferSum()}"></td>
                    <td th:text="${transferEntity.getStatus()}"></td>
                </tr>
            </table>
        </div>

        <div class="col-6 align-self-start">
            <h5>Зачисления</h5>
            <table class="table">
                <tr>
                    <th scope="col">Дата</th>
                    <th scope="col">Отправитель</th>
                    <th scope="col">Сумма</th>
                    <th scope="col">Статус</th>
                </tr>
                <tr th:each="transferEntity : ${client.getReceiving()}">
                    <td th:text="${transferEntity.getDate()}"></td>
                    <td th:text="${transferEntity.getSender()}"></td>
                    <td th:text="${transferEntity.getTransferSum()}"></td>
                    <td th:text="${transferEntity.getStatus()}"></td>
                </tr>
            </table>
        </div>

    </div>
    <div th:if="${#lists.isEmpty(client.getExpenses()) and #lists.isEmpty(client.getReceiving())}">
        <h5>Платежи не обнаружены</h5>
    </div>
    <hr>
</div>


<script th:replace="fragments/dependency :: script1"></script>
<script th:replace="fragments/dependency :: script2"></script>
<script th:replace="fragments/dependency :: script3"></script>
</body>
</html>