<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Регистрация </title>
    <link th:replace="fragments/dependency :: style1">
    <link th:replace="fragments/dependency :: style2">
</head>
<body>
<div class="container">
    <div class="row align-items-center justify-content-center" style="margin-top: 50px">
        <div class="col-3 align-self-center">
            <h2>Регистрация</h2>

            <form method="POST" th:action="@{/registration}" th:object="${client}">
                <label for="login" style="color: red;" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></label>
                <div class="mb-3"><label> Логин : <input type="text" id="login" th:field="*{username}" class="form-control"/> </label></div>
                <label for="login" style="color: red;" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></label>
                <div class="mb-3"><label> Имя : <input type="text" id="firstname" th:field="*{firstname}" class="form-control"/> </label></div>
                <label for="login" style="color: red;" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></label>
                <div class="mb-3"><label> Фамилия : <input type="text" id="lastname" th:field="*{lastname}" class="form-control"/> </label></div>
                <label for="login" style="color: red;" th:if="${#fields.hasErrors('password')}"
                       th:errors="*{password}"></label>
                <div class="mb-3"><label> Пароль: <input type="password" id="password" th:field="*{password}"
                                                         class="form-control"/> </label></div>

                <div class="mb-3"><input type="submit" value="Регистрация" class="btn btn-primary"/></div>
            </form>
            <div class="mb-3"><a href="/login" class="link-primary">Назад</a></div>
        </div>
    </div>
</div>

<script th:replace="fragments/dependency :: script1"></script>
<script th:replace="fragments/dependency :: script2"></script>
<script th:replace="fragments/dependency :: script3"></script>
</body>
</html>