<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transfer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row align-items-center justify-content-center" style="margin-top: 10px; text-align: center">
        <div class="col-3 align-self-start">
            <form method="POST" class="form-floating mb-3" style="padding-left: 10px" action="/transfer/to_client" th:object="${transferEntity}">
                <h3>Перевод клиенту банка</h3>
                <div th:each="card : ${client.getCards()}">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="card1" th:field="*{sender}" th:value="${card}">
                        <label class="form-check-label" for="card1" th:text="${card.getNumber()}">number</label>
                    </div>
                </div>
                <div>
                    <label for="recipientId">Номер карты</label>
                    <label for="recipientId" style="color: red;" th:if="${#fields.hasErrors('accountNumber')}" th:errors="*{accountNumber}"></label>
                    <input type="text" class="form-control" th:field="*{accountNumber}" id="recipientId">
                </div>
                <div>
                    <label for="sum">Сумма перевода</label>
                    <label for="sum" style="color: red;" th:if="${#fields.hasErrors('transferSum')}" th:errors="*{transferSum}"></label>
                    <input type="text" class="form-control" th:field="*{transferSum}" id="sum" >
                </div>
                <button type="submit" class="btn btn-primary" style="margin: 10px">Submit</button>
            </form>
        </div>
    </div>
</div>
<hr>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>