<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Transfer</title>
    <link th:replace="fragments/dependency :: style1">
    <link th:replace="fragments/dependency :: style2">
</head>
<body>
<div class="container">
    <nav th:replace="fragments/nav_bar :: navbar"></nav>
    <div class="head">
        <hr>
        <h4>Платежи</h4>
        <hr>
    </div>
    <div class="row" th:if="${#httpServletRequest.requestURI == '/transfer/do_transfer'}">
        <form method="POST" class="form-floating" th:action="@{/transfer/do_transfer}" th:object="${transfer}">
            <div class="col-12">
                <h5>Перевод на карту или счет</h5>
                <p>Выберете вашу карту/счет</p>
                <p style="color: red;" th:if="${#fields.hasErrors('accountSender')}" th:errors="*{accountSender}"></p>
                <div class="btn-group" role="group">
                    <div th:each="account, iter : ${client.getCheckingAccounts()}">
                        <input type="radio" class="btn-check" th:field="*{accountSender}" th:id="${iter}"
                               autocomplete="off"
                               th:value="${account.getNumber()}"/>
                        <label style="width: 210px; margin-right: 5px;" class="btn btn-outline-success"
                               th:for="${iter}">
                            <span th:text="${account.getNumber()}"></span>
                            <br>
                            <span th:text="'Баланс: ' + ${account.getBalance()} + ${account.getCurrency()}"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <label for="recipientId">Номер карты/счета получателя</label>
                <label for="recipientId" style="color: red;" th:if="${#fields.hasErrors('accountRecipient')}"
                       th:errors="*{accountRecipient}"></label>
                <input type="text" class="form-control" th:field="*{accountRecipient}" id="recipientId">
            </div>
            <div class="col-3">
                <label for="sum">Сумма перевода</label>
                <label for="sum" style="color: red;" th:if="${#fields.hasErrors('transferSum')}"
                       th:errors="*{transferSum}"></label>
                <input type="text" class="form-control" th:field="*{transferSum}" id="sum">
            </div>
            <div th:if="${#fields.hasErrors('global')}">
                <p th:each="err : ${#fields.errors('global')}" th:text="${err}" style="color: red"></p>
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-outline-success" style="margin-top: 10px">Перевести</button>
            </div>
        </form>
    </div>


    <div class="row" th:if="${#httpServletRequest.requestURI == '/transfer/between_their'}">
        <form method="POST" class="form-floating" th:action="@{/transfer/between_their}" th:object="${transfer}">
            <div class="col-12">
                <h5>Перевод между своими счетами</h5>
                <p>Выберете ваш счет для отправки</p>
                <p style="color: red;" th:if="${#fields.hasErrors('accountSender')}" th:errors="*{accountSender}"></p>
                <div class="btn-group" role="group" th:each="account, iter : ${client.getCheckingAccounts()}">
                    <input type="radio" class="btn-check" th:field="*{accountSender}" th:id="${'s' + iter}"
                           autocomplete="off"
                           th:value="${account.getNumber()}"/>
                    <label style="width: 210px;" class="btn btn-outline-success" th:for="${'s' + iter}">
                        <span th:text="${account.getNumber()}"></span>
                        <br>
                        <span th:text="'Баланс: ' + ${account.getBalance()} + ${account.getCurrency()}"></span>
                    </label>
                </div>
            </div>
            <div class="col-12">
                <p>Выберете ваш счет для получения</p>
                <p style="color: red;" th:if="${#fields.hasErrors('accountRecipient')}"
                   th:errors="*{accountRecipient}"></p>
                <div class="btn-group" role="group" th:each="account, iter : ${client.getCheckingAccounts()}">
                    <input type="radio" class="btn-check" th:field="*{accountRecipient}" th:id="${'r' + iter}"
                           autocomplete="off"
                           th:value="${account.getNumber()}"/>
                    <label style="width: 210px;" class="btn btn-outline-success" th:for="${'r' + iter}">
                        <span th:text="${account.getNumber()}"></span>
                        <br>
                        <span th:text="'Баланс: ' + ${account.getBalance()} + ${account.getCurrency()}"></span>
                    </label>
                </div>
            </div>
            <div class="col-3">
                <label for="sum">Сумма перевода</label>
                <label for="sum" style="color: red;" th:if="${#fields.hasErrors('transferSum')}"
                       th:errors="*{transferSum}"></label>
                <input type="text" class="form-control" th:field="*{transferSum}" id="sum">
            </div>
            <div th:if="${#fields.hasErrors('global')}">
                <p th:each="err : ${#fields.errors('global')}" th:text="${err}" style="color: red"></p>
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-outline-success" style="margin-top: 10px">Перевести</button>
            </div>
        </form>
    </div>
</div>
<hr>


<script th:replace="fragments/dependency :: script1"></script>
<script th:replace="fragments/dependency :: script2"></script>
<script th:replace="fragments/dependency :: script3"></script>
</body>
</html>